@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* COLORS VARIABLES FROM FIGMA FILE */
:root {

    /* COLORS */
    --white-color: #FFFFFF;
    --black-color: #191919;
    --dark-yellow-color: #F0C92B;
    --gold-color: #DB9807;
    --orange-color: #F9AE4A;
    --brown-color: #573311;
    --light-yellow-color: #F6F3E8;
    --grey-color: #EBEBEA;
    --dark-gray-color: #757575;

    /* FONTS */
    --font-main: 'Inter', sans-serif;
    --font-secondary: 'Cormorant', serif;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
